* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
}

html, body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1080px;
  padding: 0 100px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  font-family: "Nunito Sans", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  text-transform: uppercase;
  color: #000000;
  margin-top: 40px;
  margin-bottom: 6px;
  padding-top: 60px;
}

.description {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: -0.02em;
  color: #000000;
  max-width: 340px;
  margin-bottom: 30px;
}

.btn {
  border: none;
  -ms-flex-item-align: baseline;
      align-self: baseline;
  background: #FFE03C;
  border-radius: 15px;
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #3F3F3F;
  padding: 13px 50px;
  display: inline-block;
}

.item-title {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: -0.02em;
  color: #000000;
  margin-bottom: 7px;
}

.item-description {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: -0.02em;
  color: #000000;
  max-width: 181px;
}

.bottom {
  padding-bottom: 128px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.input {
  border-bottom: 1px solid #E2E2E2;
  border-top: none;
  border-right: none;
  border-left: none;
  outline: 0;
  padding-bottom: 10px;
}

.price__input::-webkit-input-placeholder { /* WebKit browsers */
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #7F7F7F;
}

.price__input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #7F7F7F;
}

.price__input::-moz-placeholder { /* Mozilla Firefox 19+ */
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #7F7F7F;
}

.price__input:-ms-input-placeholder { /* Internet Explorer 10+ */
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #7F7F7F;
}

.wrap-top {
  background-color: #F3F3F3;
  background-size: cover;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #d9d9d9;
  border-radius: 28px;
  padding: 14px 32px;
}
.header__logo {
  width: 125px;
}
.header__top-nav {
  margin-left: 20px;
}
.header__top-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 13px;
}
.header__top-link {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  text-align: center;
  color: #000;
}
.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}
.header__contacts-val {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 13px;
  letter-spacing: -0.02em;
  color: #595959;
}
.header__contacts-social {
  padding-left: 15px;
  padding-right: 11px;
}
.header__social-link:first-child {
  margin-right: 6px;
}
.header__social-img {
  width: 33px;
  height: 33px;
}
.header__phone {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: -0.02em;
  text-align: center;
  color: #000;
}
.header__bottom {
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6px 32px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__bottom-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__bottom-item:not(:last-child) {
  margin-right: 26px;
}
.header__bottom-link {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  text-align: center;
  color: #000;
}
.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__right-btn {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: -0.02em;
  text-align: center;
  color: #3f3f3f;
  background: #ffe03c;
  border-radius: 20px;
  padding: 4px 18px 6px;
  margin-right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__right-link:not(:last-child) {
  margin-right: 8px;
}
.header__right-link img {
  width: 33px;
}
.header-mob {
  display: none;
}

.main {
  position: relative;
  padding-bottom: 70px;
}
.main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main__left {
  position: relative;
  z-index: 2;
}
.main__title {
  margin-top: 60px;
  max-width: 380px;
  color: #000;
  font-weight: 500;
  font-size: 43px;
  line-height: 97%;
  font-family: "Bitter", sans-serif;
  text-transform: uppercase;
}
.main__description {
  margin-top: 8px;
  margin-bottom: 31px;
  max-width: 400px;
  color: #000;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  font-family: "Manrope", sans-serif;
  letter-spacing: -0.02em;
}
.main__btn {
  display: inline-block;
  -webkit-transition: background 0.2s ease, border-color 0.2s ease;
  transition: background 0.2s ease, border-color 0.2s ease;
  margin-bottom: 31px;
  border: 1px solid #ffe03c;
  border-radius: 20px;
  background: #ffe03c;
  padding: 22px 53px 18px;
  color: #3f3f3f;
  font-weight: 700;
  font-size: 16px;
  font-family: "Manrope", sans-serif;
  letter-spacing: -0.02em;
  text-align: center;
}
.main__btn:hover {
  border-color: #3f3f3f;
  background: transparent;
}
.main__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main__info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main__info-item:not(:last-child) {
  margin-right: 50px;
}
.main__info-img {
  margin-right: 17px;
}
.main__info-text {
  color: #000;
  font-weight: 400;
  font-size: 16px;
  font-family: "Manrope", sans-serif;
  letter-spacing: -0.02em;
}
.main__info-text:nth-child(2) {
  font-weight: 500;
}
.main__right {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}
.main__right-img {
  position: absolute;
  top: -47%;
  left: -25%;
  width: clamp(37.5rem, -8.877rem + 72.46vw, 50rem);
  /* 700px 879px  */
  pointer-events: none;
}
@media screen and (max-width: 1300px) {
  .main__right-img {
    top: -40%;
  }
}
@media screen and (max-width: 1200px) {
  .main__right-img {
    top: -34%;
    left: -20%;
  }
}
@media screen and (max-width: 1150px) {
  .main__right-img {
    top: -30%;
  }
}
@media screen and (max-width: 1100px) {
  .main__right-img {
    top: -25%;
  }
}
@media screen and (max-width: 1050px) {
  .main__right-img {
    top: -20%;
  }
}

.grade {
  position: relative;
}
.grade:after {
  display: inline-block;
  position: absolute;
  right: 294px;
  bottom: 322px;
  width: 31px;
  height: 31px;
  content: "";
}
.grade__top {
  margin: 6rem auto 0;
  border-radius: 20px;
  background: #F7F7F7;
  max-width: 1080px;
}
.grade__bottom {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.015625vw 1fr 1.015625vw 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.015625vw;
  margin: 0 auto 70px;
}
.grade__bottom-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  border-radius: 20px;
  background: #F7F7F7;
  padding-top: 30px;
  padding-left: 2.65625vw;
}
.grade__bottom-item:after {
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 0;
  border-bottom-right-radius: 20px;
  background: url("../img/grade/grade-bottom-1.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 146px;
  height: 96px;
  overflow: hidden;
  content: "";
}
.grade__bottom-item:nth-child(2):after {
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 0;
  border-bottom-right-radius: 20px;
  background: url("../img/grade/grade-bottom-2.svg");
  width: 142px;
  height: 114px;
  overflow: hidden;
  content: "";
}
.grade__bottom-item:nth-child(3):after {
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 0;
  border-bottom-right-radius: 20px;
  background: url("../img/grade/grade-bottom-3.svg");
  width: 158px;
  height: 94px;
  overflow: hidden;
  content: "";
}
.grade__bottom-item:last-child {
  background-color: #FFE03C;
}
.grade__item-text {
  position: relative;
  z-index: 1;
}
.grade__bottom-title {
  margin-bottom: 7px;
  color: #000000;
  font-style: normal;
  font-weight: 700;
  font-size: 1.5625vw;
  font-family: "Manrope", sans-serif;
  letter-spacing: -0.02em;
}
.grade__bottom-description {
  padding-bottom: 60px;
  max-width: 22ch;
  color: #000000;
  font-style: normal;
  font-weight: 500;
  font-size: 1.09375vw;
  line-height: 130%;
  font-family: "Manrope", sans-serif;
  letter-spacing: -0.02em;
}
.grade__bottom-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: -23px;
}
.grade__bottom-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-top: auto;
}
.grade__bottom-img img {
  max-width: 100%;
  height: 100%;
}

.container {
  position: relative;
}

.sidebar__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2.5rem 5.5rem;
  margin-bottom: 20px;
}
.sidebar__left {
  position: relative;
  padding: 36px 72px;
  margin-right: 16px;
  border-radius: 15px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 37px;
}
.sidebar__left:before {
  content: "";
  width: 31px;
  height: 31px;
  position: absolute;
  display: inline-block;
  left: -45px;
  bottom: 115px;
}
.sidebar__left-bottom {
  position: relative;
  left: -71px;
  top: 34px;
}
.sidebar__left-btn {
  border: 1px solid #000000;
  border-radius: 20px;
  background: transparent;
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #3A3A3A;
  text-decoration: none;
  padding: 9px 70px 9px 64px;
}
.sidebar__right-title {
  font-family: "Nunito Sans", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  text-transform: uppercase;
  color: #000000;
  margin-top: 0;
  margin-bottom: 6px;
  padding-top: 25px;
}
.sidebar__right-description {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: -0.02em;
  color: #000000;
  max-width: 300px;
  margin-bottom: 30px;
}
.sidebar__button-btn {
  background: #FFE03C;
  border-radius: 15px;
  text-decoration: none;
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #2D2D2D;
  padding: 18px 86px;
  display: inline-block;
}

.bottom {
  padding-bottom: 0;
}

.choice {
  background: #F3F3F3;
}
.choice__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.choice__title {
  padding-top: 60px;
  margin-bottom: 5px;
  margin-top: 0;
}
.choice__description {
  max-width: 335px;
  margin-bottom: -11px;
}
.choice__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.choice__bottom-img {
  max-width: 100%;
  height: 100%;
}

.choice__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 154px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 30px;
}
.choice__col:last-child {
  margin-right: 0;
}
.choice__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 21px 30px;
  margin-top: 154px;
}
.choice__item {
  background: #FFFFFF;
  border-radius: 20px;
  padding: 7rem 3.4rem 2.6rem 30px;
  position: relative;
}
.choice__item:nth-child(3) {
  border-radius: 20px 20px 0 0;
}
.choice__item:after {
  content: "";
  background: url("../img/choice/choice-icon-1.svg");
  width: 45px;
  height: 45px;
  position: absolute;
  display: inline-block;
  right: 20px;
  top: 20px;
}
.choice__item:nth-child(4) {
  border-radius: 20px 20px 0 0;
}
.last-child {
  border-radius: 20px 20px 0 0;
}

.second-child:after {
  background: url("../img/choice/choice-icon-2.svg");
  width: 45px;
  height: 45px;
}

.third-child:after {
  background: url("../img/choice/choice-icon-3.svg");
  width: 45px;
  height: 45px;
}

.last-child:after {
  background: url("../img/choice/choice-icon-4.svg");
  width: 45px;
  height: 45px;
}

.arrow {
  position: relative;
}

.talk {
  padding-bottom: 130px;
}
.talk__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.talk__title {
  margin-top: 135px;
  padding-top: 0;
  position: relative;
}
.talk__title:after {
  content: "";
  background: url("../img/talk/ava-group.svg");
  width: 128px;
  height: 46px;
  position: absolute;
  display: inline-block;
  right: -162px;
}
.talk__description {
  max-width: 420px;
  margin-bottom: 37px;
}
.talk__right {
  margin-top: 138px;
}
.talk__btn {
  border: 1px solid #000;
  border-radius: 20px;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  text-align: center;
  color: #3a3a3a;
  padding: 9px 66px;
  background: transparent;
}

.talk__bottom {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.talk__bottom-item {
  background: #F2F2F2;
  border-radius: 20px;
  padding-bottom: 25px;
  padding-right: clamp(1.5rem, 0.979rem + 2.6vw, 3.063rem);
}
.talk__bottom-link a {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: -0.02em;
  text-decoration-line: underline;
  color: #000000;
  margin-top: 17px;
  opacity: 0.41;
}
.talk .item__title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: clamp(1rem, 0.917rem + 0.42vw, 1.25rem);
  letter-spacing: -0.02em;
  color: #1E1E1E;
  text-align: right;
  padding-right: 0;
}
.talk .item__description {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: -0.02em;
  color: #000000;
  margin-bottom: 17px;
  max-width: 330px;
}
.talk .talk_rate {
  border: 1px solid #eaeaea;
  justify-self: baseline;
  border-radius: 22px;
  padding: 19px;
  -webkit-box-shadow: 0 0 20px 0 rgba(156, 156, 156, 0.1);
          box-shadow: 0 0 20px 0 rgba(156, 156, 156, 0.1);
  margin-top: 20px;
  margin-bottom: 20px;
}
.talk .talk_rate, .talk .rate__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
.talk .rate__icon .item__raiting-img {
  width: unset;
  height: unset;
}
.talk .rate__value {
  color: #444;
  font-family: "Unbounded", serif;
  font-size: 25px;
}
.talk .item__raiting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 67px;
  margin-top: -18px;
}
.talk .item__raiting-img {
  margin-right: 8px;
  width: 110px;
  height: 18px;
  margin-left: 3px;
}
.talk .item__raiting-text {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: -0.02em;
  color: #000000;
  opacity: 0.41;
}

.talk__bottom-ava img {
  width: 51px;
  height: 53px;
}

.item {
  padding-left: clamp(1.5rem, 1.063rem + 2.19vw, 2.813rem);
  padding-top: 32px;
}
.item__title {
  padding-left: 18px;
  padding-top: 8px;
  padding-right: 25px;
}
.item__description {
  margin-top: 20px;
  padding-right: 25px;
}

.talk__bottom-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.choice__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1225px) {
  .talk .item__title p:before {
    left: -50px;
  }
}
.sale {
  padding-bottom: 70px;
}
.sale__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  max-width: 1080px;
  margin: 0 auto;
}
.sale__left {
  background: #F7F7F7;
  border-radius: 30px;
  padding-left: clamp(1.5rem, 1.063rem + 2.19vw, 2.813rem);
  padding-right: clamp(1.5rem, 0.938rem + 2.81vw, 3.188rem);
}
.sale__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 17px 10px;
  max-width: clamp(20rem, 15.479rem + 22.6vw, 33.563rem);
}
.sale__title {
  margin-top: 0;
  padding-top: 60px;
  max-width: clamp(17.438rem, 13.063rem + 21.88vw, 30.563rem);
}
.sale__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 17px;
}
.sale__row:last-child {
  margin-bottom: 55px;
}
.sale__item {
  border: 1px solid #000000;
  border-radius: 33px;
  padding: 9px 30px;
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}
.sale__item:last-child {
  margin-right: 0;
}
.sale__btn {
  background: #FFE03C;
  border-radius: 15px;
  display: inline-block;
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #3F3F3F;
  text-decoration: none;
  padding: 13px 54px;
  margin-bottom: 42px;
  margin-top: 55px;
}
.sale__img {
  height: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px;
}

.process {
  --size-number: 40px;
  --gap-item: clamp(2.375rem, -3.958rem + 13.19vw, 5.938rem);
  /* 38px 95px */
  --pad-top: clamp(0rem, -1.667rem + 3.47vw, 0.938rem);
  /* 0px 15px */
  background: #F3F3F3;
  padding-bottom: 130px;
}
.process__title {
  margin-top: 65px;
  margin-bottom: clamp(1.563rem, -2.104rem + 7.64vw, 3.625rem);
}
.process__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr var(--gap-item) 1fr var(--gap-item) 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap-item);
  counter-reset: count 0;
}
.process__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  counter-increment: count 1;
  padding-top: var(--pad-top);
}
.process__item::before {
  margin-bottom: clamp(1.063rem, -0.382rem + 3.01vw, 1.875rem);
  border-radius: 60px;
  background: #FFE03C;
  width: var(--size-number);
  height: var(--size-number);
  content: counter(count);
  color: #000000;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: var(--size-number);
  font-family: "Montserrat", sans-serif;
  letter-spacing: -0.02em;
  text-align: center;
}
.process__item:not(:last-child)::after {
  display: inline-block;
  position: absolute;
  top: calc(var(--pad-top) + var(--size-number) / 2);
  left: var(--size-number);
  z-index: 1;
  background: url("../img/process/border-dashed.svg");
  width: calc(100% + var(--gap-item) - var(--size-number));
  height: 1px;
  content: "";
}
.process__item-title {
  margin-bottom: 10px;
  max-width: 320px;
}
.process__item-description {
  margin-bottom: 7px;
}
.process__item-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background 0.2s ease, border-color 0.2s ease;
  transition: background 0.2s ease, border-color 0.2s ease;
  margin-top: auto;
  border: 1px solid #ffe03c;
  border-radius: 15px;
  background: #FFE03C;
  padding: 13px 49px;
  color: #3F3F3F;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  font-family: "Manrope", sans-serif;
  letter-spacing: -0.02em;
  text-align: center;
}
.process__item-btn:hover {
  border-color: #3f3f3f;
  background: transparent;
}
.process .item__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.process .item__social-link {
  display: inline-block;
  margin-top: 22px;
}
.process .item__social-link:first-child {
  margin-right: 7px;
}
.process .item__social-img {
  width: 38px;
  height: 38px;
}
.process .item__social-text {
  display: inline-block;
  opacity: 0.58;
  margin-top: 22px;
  margin-left: 20px;
  max-width: 120px;
  color: #877E7E;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 109%;
  font-family: "Manrope", sans-serif;
  letter-spacing: -0.03em;
}

.price {
  padding-bottom: 130px;
  background: #F3F3F3;
}
.price__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  border-radius: 20px;
  padding: 0;
}
.price__left {
  margin-right: 55px;
}
.price__img {
  height: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}
.price__right {
  padding-bottom: 28px;
}
.price__title {
  padding-top: 42px;
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 35px;
}
.price__description {
  margin-bottom: 50px;
  font-size: 14px;
}
.price__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.price__input {
  border-bottom: 1px solid #E2E2E2;
  border-top: none;
  border-right: none;
  border-left: none;
  outline: 0;
  padding-bottom: 10px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding-right: 210px;
}
.price__btn {
  -ms-flex-item-align: self-start;
      -ms-grid-row-align: self-start;
      align-self: self-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  outline: none;
  border: none;
  padding: 13px 82px;
  font-size: 14px;
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.02em;
  color: #2D2D2D;
  margin-top: 28px;
}
.price__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
}
.price__social-img {
  width: 38px;
  height: 38px;
}
.price__social-img:first-child {
  margin-right: 17px;
}
.price__social-text {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.03em;
  color: #877E7E;
  opacity: 0.58;
  margin-top: 7px;
}

.company {
  background: #F3F3F3;
  padding-top: 128px;
}
.company__wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 11px 20px;
}
.company__left {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}
.company__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.company__img {
  height: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px;
}
.company__top {
  background: #FFFFFF;
  border-radius: 30px;
  padding: 0 48px;
  padding-bottom: 48px;
}
.company__title {
  padding-top: 40px;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 35px;
}
.company__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
  gap: 10px;
}
.company__block-item {
  display: inline-block;
  border: 1px solid #000000;
  border-radius: 33px;
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #000000;
  padding: 5px 30px;
}
.company__description {
  margin-bottom: 16px;
  max-width: 496px;
  font-size: 14px;
}
.company__description:last-child {
  margin-bottom: 0;
}
.company__bottom {
  background: #FFE03C;
  border-radius: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 55px 1fr 55px 1fr 55px 1fr;
  grid-template-columns: repeat(4, 1fr);
  gap: 55px;
  grid-columns: 1/3;
  padding: 19px 56px 27px 30px;
}
.company__bottom-number {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 33px;
  letter-spacing: -0.02em;
  color: #1D1D1D;
  opacity: 0.85;
}
.company__bottom-description {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: -0.02em;
  color: #272727;
  opacity: 0.85;
  max-width: 81px;
}

.services {
  background-color: #F3F3F3;
}
.services__title {
  padding-top: 126px;
  margin-top: 0;
  margin-bottom: 40px;
}
.services__top {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.services__item {
  background: #FFFFFF;
  border-radius: 20px;
  padding: 20px 25px;
  position: relative;
}
.services__item:before {
  content: "";
  background: url("../img/services/services-icon-1.svg");
  width: 40px;
  height: 40px;
  position: absolute;
  display: inline-block;
  left: 26px;
  top: 19px;
}
.services__item:nth-child(2):before {
  background: url("../img/services/services-icon-2.svg");
}
.services__item:nth-child(3):before {
  background: url("../img/services/services-icon-3.svg");
}
.services__item:nth-child(4):before {
  background: url("../img/services/services-icon-4.svg");
}
.services__item:nth-child(2) {
  background-color: #FFE03C;
}
.services__item-top {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #000000;
  text-align: right;
  margin-top: 15px;
  position: relative;
}
.services__item-title {
  margin-top: 34px;
  margin-bottom: 15px;
  max-width: 300px;
}
.services__bottom {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 23px 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 23px;
  margin-top: 20px;
}
.services__bottom .services__item:before {
  top: 12px;
}
.services__bottom .services__item:nth-child(2):before {
  background: url("../img/services/services-icon-1.svg");
}
.services__bottom .services__item .services__item-title {
  margin-top: 47px;
}
.services__bottom .services__item .services__item-description {
  max-width: 281px;
}
.services__bottom .services__item:nth-child(2) {
  background: #fff;
}
.services__bottom-item {
  background: #FFFFFF;
  border-radius: 20px;
  padding: 30px 25px 22px 25px;
  position: relative;
}
.services__bottom-item:first-child .services__bottom-description {
  opacity: 1;
  max-width: 250px;
}
.services__bottom-item:first-child:before {
  content: "";
  background: url("../img/services/heart.svg");
  width: 36px;
  height: 36px;
  position: absolute;
  display: inline-block;
  left: 28px;
  bottom: 19px;
}
.services__bottom-item:first-child:after {
  content: "";
  background: url("../img/services/services-img-1.svg");
  width: 251px;
  height: 166px;
  position: absolute;
  display: inline-block;
  right: -24px;
  bottom: 0;
}
.services__bottom-item:nth-child(2) .services__bottom-block .services__bottom-description {
  max-width: 300px;
}
.services__bottom-item:nth-child(2) .services__bottom-block .services__bottom-description:first-child {
  margin-bottom: 51px;
}
.services__bottom-item:nth-child(2):before {
  content: "";
  background: url("../img/services/services-img-2.svg");
  width: 219px;
  height: 129px;
  position: absolute;
  display: inline-block;
  right: 0;
  bottom: 0;
}
.services__bottom-title {
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 10px;
  font-family: "Noto Sans Syriac", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 100%;
  text-transform: uppercase;
  color: #000000;
  min-width: 417px;
}
.services__bottom-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.services__bottom-description {
  max-width: 226px;
  position: relative;
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #000000;
  opacity: 0.4;
}
.services__bottom-description:not(:last-child):before {
  content: "";
  background: url("../img/services/heart.svg");
  width: 36px;
  height: 36px;
  position: absolute;
  display: inline-block;
  left: 0;
  top: 50px;
}
.services__bottom-description:nth-child(2) {
  opacity: 1;
}
.services__bottom-img {
  position: absolute;
  right: 0;
  bottom: 0;
}

.services__bottom-block .services__bottom-description .services__bottom-description_blue {
  color: #01426D;
  font-weight: bold;
  opacity: 1;
  display: inline-block;
}

.services__bottom-item:nth-child(2) .services__bottom-block .services__bottom-description:before {
  background: unset;
}

.services__bottom-item:nth-child(2) .services__bottom-title {
  margin-bottom: 10px;
}

.faq__title {
  margin-top: 0;
  padding-top: 54px;
  margin-bottom: 45px;
}
.faq__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 86px;
}
.faq__col {
  width: 100%;
}
.faq__col:not(:last-child) {
  margin-right: 20px;
}
.faq__item {
  position: relative;
}
.faq__item:first-child {
  padding-bottom: 34px;
  margin-bottom: 26px;
}
.faq__item:nth-child(2) {
  padding-bottom: 34px;
  margin-bottom: 30px;
}
.faq__item:not(:last-child) {
  border-bottom: 1px solid #DFDFDF;
}
.faq__item-text {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: -0.02em;
  color: #1E1E1E;
  position: relative;
  padding-right: 185px;
}
.faq__item-text:after {
  content: "";
  background: url("../img/faq/check.svg");
  width: 31px;
  height: 29px;
  position: absolute;
  display: inline-block;
  right: 40px;
  bottom: 50%;
  -webkit-transform: translateY(14.5px);
          transform: translateY(14.5px);
}

.news {
  background-color: #F3F3F3;
}
.news_title {
  padding-top: 64px;
  margin-top: 0;
  margin-right: 56px;
  position: relative;
}
.news_title:after {
  content: "";
  background: url("../img/news/zen-logo.svg");
  width: 70px;
  height: 22px;
  position: absolute;
  display: inline-block;
  right: -99px;
  top: 76px;
}
.news__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.news__bottom {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding-bottom: 128px;
}
.news__item img {
  width: 100%;
}

.find {
  background-color: #F3F3F3;
  padding-bottom: 80px;
}
.find__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 20px;
  background: #fff;
  padding: 0;
  padding-top: 55px;
}
.find__left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-right: 38px;
  padding-bottom: 64px;
  padding-left: 52px;
}
.find__right {
  -webkit-box-flex: 1.3;
      -ms-flex: 1.3;
          flex: 1.3;
}
.find__title {
  margin-top: 0;
  margin-bottom: 18px;
  padding-top: 0;
}
.find__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.find__address-title {
  opacity: 0.33;
  margin-bottom: 11px;
  color: #000;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  font-family: "Manrope", sans-serif;
  letter-spacing: -0.02em;
}
.find__address-description {
  position: relative;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-bottom: 15px;
  color: #000;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  font-family: "Manrope", sans-serif;
  letter-spacing: -0.02em;
}
.find__address-description:nth-child(3) {
  margin-bottom: 29px;
}
.find__address-phone {
  display: inline-block;
  position: relative;
  margin-bottom: 25px;
  margin-left: 31px;
  max-width: 160px;
  color: #181818;
  font-weight: 500;
  font-size: 14px;
  line-height: 110%;
  font-family: "Manrope", sans-serif;
  letter-spacing: -0.05em;
}
.find__address-phone:before {
  display: inline-block;
  position: absolute;
  top: -3px;
  left: -31px;
  background: url("../img/find/find-phone.svg");
  width: 22px;
  height: 22px;
  content: "";
}
.find__work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.find__work-block {
  margin-right: clamp(1.875rem, -4.982rem + 14.29vw, 3.875rem);
  /* 30px - 62px */
}
.find__work-title {
  opacity: 0.33;
  margin-bottom: 10px;
  color: #000;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  font-family: "Manrope", sans-serif;
  letter-spacing: -0.02em;
}
.find__work-time {
  margin-bottom: 14px;
  max-width: 166px;
  color: #000;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  font-family: "Manrope", sans-serif;
  letter-spacing: -0.02em;
}
.find__work-text {
  color: #000;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  font-family: "Manrope", sans-serif;
  letter-spacing: -0.02em;
}
.find__work-pass {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: 48px;
  gap: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-bottom: 10px;
  width: 135px;
  color: #000;
  font-weight: 500;
  font-size: 16px;
  line-height: 155%;
  font-family: "Inter", sans-serif;
  letter-spacing: -0.02em;
  text-decoration: underline;
}
.find__form {
  margin-top: 62px;
}
.find__btn {
  -webkit-transition: background 0.2s ease, border-color 0.2s ease;
  transition: background 0.2s ease, border-color 0.2s ease;
  border: 1px solid #ffe03c;
  padding: 18px 106px;
  color: #2d2d2d;
  font-weight: 700;
  font-size: 14px;
  line-height: 130%;
  font-family: "Manrope", sans-serif;
  letter-spacing: -0.02em;
  text-align: center;
}
.find__btn:hover {
  border-color: #3f3f3f;
  background: transparent;
}
.find__map {
  padding-right: 38px;
  height: 87.9%;
}
.find__map-wrap {
  position: relative;
  border-radius: 20px;
  height: 100%;
  overflow: hidden;
}

.find__input {
  -ms-flex-item-align: baseline;
      align-self: baseline;
  margin-bottom: 28px;
  padding-right: 161px;
}

.find__address .find__address-description:nth-child(2) {
  display: inline-block;
  position: relative;
}
.find__address .find__address-description:nth-child(2):after {
  display: inline-block;
  position: absolute;
  right: -44px;
  bottom: 0;
  background: url("../img/find/copy.svg");
  width: 16px;
  height: 17px;
  content: "";
}

.find__address .find__address-description:nth-child(3) {
  display: inline-block;
  position: relative;
  margin-left: 31px;
}
.find__address .find__address-description:nth-child(3):before {
  display: inline-block;
  position: absolute;
  left: -61px;
  bottom: -4px;
  background: url("../img/find/metro.svg");
  width: 52px;
  height: 28px;
  content: "";
}

.find__iframe {
  position: relative;
  border: none;
  height: 100%;
}

.footer {
  padding-top: 45px;
}
.footer__top {
  display: -ms-grid;
  display: grid;
  position: relative;
  -ms-grid-columns: 1fr clamp(1.563rem, 0.117rem + 3.01vw, 2.188rem) 1fr;
  grid-template-columns: 1fr 1fr;
  -webkit-column-gap: clamp(1.563rem, 0.117rem + 3.01vw, 2.188rem);
     -moz-column-gap: clamp(1.563rem, 0.117rem + 3.01vw, 2.188rem);
          column-gap: clamp(1.563rem, 0.117rem + 3.01vw, 2.188rem);
  row-gap: 35px;
}
.footer__left {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}
.footer__logo {
  display: block;
  margin-bottom: 13px;
}
.footer__phone {
  display: inline-block;
  position: relative;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin-bottom: 15px;
  margin-left: 43px;
  color: #181818;
  font-weight: 500;
  font-size: 14px;
  line-height: 110%;
  font-family: "Manrope", sans-serif;
  letter-spacing: -0.05em;
}
.footer__phone:hover {
  color: #999;
}
.footer__phone:before {
  display: inline-block;
  position: absolute;
  top: -3px;
  left: -43px;
  background: url("../img/footer/footer-phone.svg");
  width: 22px;
  height: 22px;
  content: "";
}
.footer__mail {
  display: inline-block;
  position: relative;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin-bottom: 13px;
  margin-left: 40px;
  color: #181818;
  font-weight: 500;
  font-size: 14px;
  line-height: 110%;
  font-family: "Manrope", sans-serif;
  letter-spacing: -0.05em;
}
.footer__mail:hover {
  color: #999;
}
.footer__mail:before {
  display: inline-block;
  position: absolute;
  top: -3px;
  left: -40px;
  background: url("../img/footer/footer-mail.svg");
  width: 22px;
  height: 22px;
  content: "";
}
.footer__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 14px;
}
.footer__btn {
  display: inline-block;
  position: relative;
  -webkit-transition: background 0.2s ease, border-color 0.2s ease;
  transition: background 0.2s ease, border-color 0.2s ease;
  border: 1px solid #ffe03c;
  border-radius: 20px;
  background: #ffe03c;
  padding: 12.5px 47px;
  padding-right: 28px;
  color: #3f3f3f;
  font-weight: 700;
  font-size: 12px;
  font-family: "Manrope", sans-serif;
  letter-spacing: -0.02em;
  text-align: center;
}
.footer__btn:hover {
  border-color: #3f3f3f;
  background: transparent;
}
.footer__btn:before {
  display: inline-block;
  position: absolute;
  top: 15px;
  left: 27px;
  background: url("../img/footer/footer-btn-icon.svg");
  width: 15px;
  height: 12px;
  content: "";
}
.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4px;
  border-radius: 43px;
  background: #f4f9ff;
  padding: 7px;
}
.footer__social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 29px;
  height: 29px;
}
.footer__social-link img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.footer__address-title {
  opacity: 0.33;
  margin-top: 17px;
  margin-bottom: 17px;
  color: #000;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  font-family: "Manrope", sans-serif;
  letter-spacing: -0.02em;
}
.footer__address-description {
  margin-bottom: 15px;
  color: #000;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  font-family: "Manrope", sans-serif;
  letter-spacing: -0.02em;
}
.footer__work-title {
  opacity: 0.33;
  margin-bottom: 15px;
  color: #000;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  font-family: "Manrope", sans-serif;
  letter-spacing: -0.02em;
}
.footer__work-description {
  margin-bottom: 15px;
  max-width: 150px;
  color: #000;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  font-family: "Manrope", sans-serif;
  letter-spacing: -0.02em;
}
.footer__work-text {
  opacity: 0.34;
  color: #000;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  font-family: "Manrope", sans-serif;
  letter-spacing: -0.02em;
}
.footer__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 13px;
}
.footer__col:nth-of-type(3) {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: subgrid;
  grid-template-columns: subgrid;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  margin-top: -45px;
  padding-top: 0;
}
.footer__col:nth-of-type(3) .footer__col-item {
  -ms-grid-column: 1;
  grid-column: 1;
}
.footer__col-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-row: 5;
  -ms-grid-row-span: 2;
  grid-row: 5/7;
  -ms-grid-column: 2;
  grid-column: 2;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
  margin-top: auto;
  margin-bottom: 10px;
}
.footer__col-title {
  margin-bottom: 22px;
  color: #979797;
  font-weight: 500;
  font-size: 14px;
  font-family: "Manrope", sans-serif;
  letter-spacing: -0.05em;
  list-style: none;
}
.footer__col-item {
  list-style: none;
}
.footer__col-item:not(:last-child) {
  margin-bottom: 10px;
}
.footer__col-link {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #181818;
  font-weight: 500;
  font-size: 14px;
  font-family: "Manrope", sans-serif;
  letter-spacing: -0.05em;
}
.footer__col-link:hover {
  color: #999;
}
.footer__col-details {
  opacity: 0.34;
  color: #000;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  font-family: "Manrope", sans-serif;
  letter-spacing: -0.02em;
  list-style: none;
}
.footer__right-up {
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 315px;
  border-radius: 11px;
  background: #ffe03c;
  padding: 19px 28px 7px;
  color: #181818;
  font-weight: 500;
  font-size: 14px;
  font-family: "Manrope", sans-serif;
  letter-spacing: -0.05em;
}
.footer__right-up:before {
  display: inline-block;
  position: absolute;
  top: 8px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: url("../img/footer/footer-arrow-up.svg");
  width: 15px;
  height: 8px;
  content: "";
}
.footer__bottom {
  margin-top: 64px;
  background: #ffe03c;
}
.footer__bottom--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
  padding: 27px 0;
}
.footer__bottom > * {
  color: #000;
  font-weight: 500;
  font-size: 14px;
  line-height: 110%;
  font-family: "Manrope", sans-serif;
  letter-spacing: -0.05em;
}
.footer__developer_bold {
  font-weight: 700;
}

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .footer__top {
    -ms-grid-columns: auto 1fr 1fr 1fr;
    grid-template-columns: auto 1fr 1fr 1fr;
  }
  .footer__left {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .footer__col:nth-of-type(3) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-grid-column: 4;
    grid-column: 4;
    margin-top: 0;
    padding-top: 10px;
  }
  .footer__col-bottom {
    grid-row: auto;
    -ms-grid-column: 1;
    grid-column: 1;
  }
}