

@media screen and (min-width: 1280px) {
	// Общие стили

	

	// Общие стили

	// grade

	.grade {
		&__bottom {
		display: grid;
	    grid-template-columns: repeat(3, 1fr);
	    gap: 13px;
		margin: 0 auto 70px;
		max-width: 1080px;
	}
	&__bottom-item {
		padding-left: 34px;
		padding-top: 30px;
		display: flex;
		background: #F7F7F7;
		border-radius: 20px;
		position: relative;
	}
	&__bottom-title {
		font-family: "Manrope", sans-serif;
font-style: normal;
font-weight: 700;
font-size: 20px;
letter-spacing: -0.02em;
color: #000000;
    margin-bottom: 7px;
	}
	&__bottom-description {
		font-family: "Manrope", sans-serif;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 130%;
letter-spacing: -0.02em;
color: #000000;
    max-width: 181px;
    padding-bottom: 60px;
	}
	}

	// grade

	// sale

	.sale {
		&__item {
padding: 9px 30px;
margin-right: 10px;
font-size: 14px;
	}
	}

	// sale

	// company

	.company {
		&__title {
		padding-top: 40px;
		margin-top: 0;
		margin-bottom: 10px;
		font-size: 35px;
	}
&__block-item {
font-size: 14px;
padding: 5px 30px;
	&:first-child {
		margin-right: 10px;
	}
	}
&__description {
		max-width: 496px;
		font-size: 14px;
}

	&__bottom-item {
		padding: 20px 0;
		&:first-child {
			padding-left: 33px;
		}
	}
	&__bottom-number {
font-size: 33px;
	}
	&__bottom-description {
font-size: 12px;
max-width: 81px;
	}

	&__top {
padding: 0 40px;
margin-bottom: 10px;
padding-bottom: 48px;
	}

	}

	// company

	// price
// 	.price {

// 	&__title {
// 		font-size: 35px;
// 	}
// 	&__description {
// 		font-size: 14px;
// 	}
// 	&__input {
//     padding-right: 269px;
// 	}
// 	&__btn {
//         padding: calc(13 / 1280 * 100vw) calc(82 / 1280 * 100vw);
// font-size: calc(14 / 1280 * 100vw);
// 	}
// 	&__social-link {}
// 	&__social-img {
// 		width: calc(48 / 1280 * 100vw);
// 		height: calc(48 / 1280 * 100vw);
// 		&:first-child {
// 			margin-right: calc(17 / 1280 * 100vw);
// 		}
// 	}
// 	&__social-text {
// 		    flex-basis: 100%;
// 		    font-family: "Manrope", sans-serif;
// font-style: normal;
// font-weight: 500;
// font-size: calc(14 / 1280 * 100vw);
// letter-spacing: -0.03em;
// color: #877E7E;
// opacity: 0.58;
// margin-top: 7px;
// 	}
// }
// price

// services

.services {
	&__bottom {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 40px;
		margin-top: 25px;
	}
	&__bottom-item {
		background: #FFFFFF;
border-radius: 20px;
padding: 30px 25px 22px 25px;
    position: relative;
    &:nth-child(2) {
    	&:before {
		content: "";
		background: url("../img/services/services-img-2.svg");
		width: 219px;
		height: 129px;
		position: absolute;
		display: inline-block;
		right: 0;
		bottom: 0;

	}
    }
    &:first-child .services__bottom-block .services__bottom-img {
			
				right: 50px;
			
		}
	}
	&__bottom-title {
		margin-top: 0;
		padding-top: 0;
		margin-bottom: 10px;
		font-family: "Noto Sans Syriac", sans-serif;
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 100%;
text-transform: uppercase;
color: #000000;
min-width: 417px;
	}
	&__bottom-block {
		    display: flex
;
    justify-content: space-between;
	}
	&__bottom-description {
		max-width: 226px;
		position: relative;
		&:not(:last-child) {
			&:before {
				content: "";
				background: url("../img/services/heart.png");
				width: 36px;
				height: 36px;
				position: absolute;
				display: inline-block;
				left: 0;
				top: 50px;

			}
		}
		span {
			font-family: "Manrope", sans-serif;
font-style: normal;
font-weight: 500;
font-size: 14px;
letter-spacing: -0.02em;
color: #000000;
opacity: 0.4;
		}
	}
}

// services

// talk

.talk {
	&__bottom {
		gap: 20px;
	}
	&__bottom-link a {
font-size: 12px;
	}
	.item__title {
font-size: 20px;
	}
	.item__description {
font-size: 14px;
max-width: 330px;
	}
	.item__raiting {
		    margin-left: 67px;
	}
	.item__raiting-img {
		margin-right: 13px;
	}
	.item__raiting-text {
font-size: 12px;
	}
}
.item {
	padding-left: 45px;
	padding-top: 32px;
}

.talk__bottom-ava {
	img {
		width: 51px;
		height: 53px;
	}
}


// talk

}


@media screen and (max-width: 1024px) {

	// choice

	.choice__col:not(:last-child) {
		margin-right: 10px;
	}

	// choice
}



@media screen and (max-width: 1280px) {
// header	
	.header {		
.header {
	&__top {
padding: calc(14 / 1280 * 100vw) calc(32 / 1280 * 100vw);
	}
	&__logo {
		width: calc(72 / 1280 * 100vw);
	}
	&__top-nav {
		margin-left: calc(45 / 1280 * 100vw);

	}
	&__top-item {
		&:not(:last-child) {
  margin-right: calc(30 / 1280 * 100vw);
  }
	}
	&__top-link {
font-size: clamp(0.375rem, 0.228rem + 0.65vw, 0.75rem);
	}
	&__contacts-val {
font-size: calc(12 / 1280 * 100vw);
	}
	&__contacts-social {
		padding-left: calc(22 / 1280 * 100vw);
		padding-right: calc(18 / 1280 * 100vw);
	}
	&__social-link {
	&:first-child {
		    margin-right: calc(6 / 1280 * 100vw);
	}	
	}
	&__social-img {
		width: calc(28 / 1280 * 100vw);
height: calc(28 / 1280 * 100vw);
	}
	&__phone {
font-size: calc(16 / 1280 * 100vw);
}
	&__bottom {
padding: calc(6 / 1280 * 100vw) calc(32 / 1280 * 100vw);	
	}
	&__bottom-item {
		&:not(:last-child) {
  margin-right: calc(26 / 1280 * 100vw);
  }
	}
	&__bottom-link {
font-size: calc(12 / 1280 * 100vw);
	}
	&__right-btn {
font-size: calc(14 / 1280 * 100vw);
padding: calc(4 / 1280 * 100vw) calc(18 / 1280 * 100vw) calc(6 / 1280 * 100vw);
margin-right: calc(8 / 1280 * 100vw);
	}
	&__right-link {
		&:not(:last-child) {
  margin-right: calc(8 / 1280 * 100vw);
  }
	}
}


	}
// 	// header
}



