@media screen and (max-width: 480px) {
	// Общие стили

	.container {
		padding: 0 20px;
	}

	.title {
		font-size: 23px;
	}

	// Общие стили

	// header

	.header__top,
	.header__bottom {
		display: none;
	}

	.header-mob {
		display: flex;
		justify-content: space-between;
		align-items: center;
		border: 1px solid #d9d9d9;
		border-radius: 28px;
		padding: 7px 20px;
	}

	.header-mob {}

	.header-mob__logo {}

	.header-mob__logo-img {
		width: 96px;
	}

	.header-mob__right {}

	.header__right-link {
		&:not(:last-child) {
			margin-right: 4px;
		}
	}

	.header__right-img {
		background-size: contain;
		width: 34px;
		height: 34px;
	}

	// header

	// main

	.main {
		padding-bottom: 0;
	}

	.main__container {
		flex-direction: column;
		align-items: center;
	}

	.container {}

	.main__left {}

	.main__title {
		margin-top: 31px;
	}

	.main__description {
		margin-top: 10px;
	}

	.description {}

	.main__btn {
		margin-bottom: 26px;
	}

	.main__info {}

	.main__info-item {
		&:not(:last-child) {
			margin-right: 28px;
		}
	}

	.main__info-img {}

	.main__info-text {}

	.main__right {
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
	}

	.main__right-img {
		position: relative;
		top: 0;
		left: 0;
		width: clamp(18.125rem, 5rem + 65.63vw, 24.688rem);
		/* 290px 395px */
	}

	// main

// grade

	.grade {}

	.grade__container {}

	.container {}

	.grade__top {}

	.grade__sidebar {}

	.sidebar {}



	.sidebar__left-top {}

	.sidebar__left-img {
		max-width: 100%;
		height: 100%;
	}

	.sidebar__right {
		margin-bottom: 28px;
	}

	.sidebar__right-title {
		margin-bottom: 10px;
		padding-top: 0;
		font-size: 23px;
	}

	.title {}

	.sidebar__right-description {
		margin-bottom: 22px;
		font-size: 12px;
	}

	.description {}

	.arrow {}

	.sidebar__button {}

	.sidebar__button-btn {
		padding: 9px 46px;
		font-size: 12px;
	}

	.grade__bottom {
		grid-template-columns: repeat(1, 1fr);
		gap: 13px;
		margin-bottom: 50px;
	}

	.bottom {}

	.grade__bottom-item {
		padding: 32px 24px;
	}

	.grade__item-text {}

	.grade__bottom-title {
		margin-bottom: 8px;
		font-size: 16px;
	}

	.grade__bottom-description {
		max-width: 43.140625vw;
		font-size: 12px;
	}

	.grade__bottom-img {}

	.grade__bottom-image {}

	// grade

	// talk

	.talk {
		padding-bottom: 70px;
	}
.talk__container {}
.container {}
.talk__block {}
.block {}
.talk__top {}
.talk__title {
	padding-top: 50px;
	margin-top: 0;
}
.title {
	&:after {
		display: none;
	}
}
.talk__description {
	margin-bottom: 42px;
}
.description {}
.talk__right {}
.talk__btn {}
.btn {}
.talk__bottom {
    grid-template-columns: repeat(1, 1fr);
}
.talk__bottom-item {
	&:not(:first-child) {
		display: none;
	}
}
.item {
	padding: 33px calc(24 / 480 * 100vw) 35px calc(24 / 480 * 100vw);
}
.talk__bottom-block {}
.talk__bottom-ava {}
.item__title {
	padding-left: calc(21 / 480 * 100vw);
	padding-left: calc(13 / 480 * 100vw);
}
.item__bottom {}
.item__raiting {}
.talk .item__raiting-img {
		margin-right: calc(13 / 480 * 100vw);
		width: 110px;
		height: 18px;
	}
.item__raiting-text {}
.dateDisplay {}
.talk .item__description {
	margin: 27px 0 35px 0;
}
.talk__bottom-link {}

	.talk__bottom {
		margin-bottom: 0;
	}

	.talk {
    &__bottom-link a {
font-size: 12px;
  }
  .item__title {
font-size: calc(20 / 480 * 100vw);
  }
  .item__description {
font-size: 14px;
max-width: calc(330 / 480 * 100vw);
  }
  .item__raiting {
        margin-left: calc(67 / 480 * 100vw);
  }
  .item__raiting-img {
    margin-right: calc(13 / 480 * 100vw);
  }
  .item__raiting-text {
font-size: 12px;
  }
}

.talk__bottom-ava {
  img {
    width: 51px;
    height: 53px;
  }
}

.talk .talk_rate {
	padding: 10px;
	gap: 5px;
	padding: 10px;
}

.icon-ya {
	width: 36px;
}

.talk .rate__icon .item__raiting-img {
	width: 80px;
}

.rate__value {
	font-size: 14px;
}
	// talk

	// sale

	.sale__wrap {
	  grid-template-columns: repeat(1, 1fr);
	}

	// sale

	// choice

	.choice__container {
		flex-direction: column;
	}

	.choice {}
.choice__container {}
.container {}
.choice__left {
	display: contents;
}
.choice__top {}
.choice__title {}
.title {}
.choice__description {}
.description {}
.choice__bottom {
	order: 3;
}
.choice__bottom-img {}
.choice__right {}
.choice__col {
	margin-top: 40px;
	.second-child, .last-child {
		    border-radius: 20px;
	}
}
.choice__item {
	&:after {
		width: 30px;
		height: 30px;
		background-size: contain;
	}
}
.choice__item-title {}
.item-title {}
.choice__item-description {}
.item-description {}
.second-child {}
.third-child {}
.last-child {}

	// choice

	// sale

.sale {
	padding-bottom: 50px;
}
.sale__container {}
.container {}
.sale__wrap {}
.sale__left {}
.sale__title {
	padding-top: 27px;
}
.title {}
.sale__description {
	margin-bottom: 15px;
}
.description {}
.sale__bottom {
	gap: 12px 5px;
}
.sale__item {
	padding: 4px 16px;
}
.sale__btn {
	padding: 10px 72px;
}
.sale__right {}
.sale__img {}

// sale

		// process

	.process {
		padding-bottom: 70px;
	}

	.process__container {}

	.container {}

	.process__title {
		margin-bottom: 32px;
		margin-top: 0;
	}

	.title {}

	.process__content {
		// display: flex;
	}

	.process__step {
		display: flex;
		flex-direction: column;
	}


	.bottom {}

	.process__item {}

	.process__item-title {}

	.item-title {}

	.process__item-description {
		margin-bottom: 14px;
	}

	.item-description {}

	.process__item-btn {}

	.btn {}

	.process__item-social {}

	.item__social {}

	.item__social-link {}

	.item__social-img {}

	.item__social-text {}

	// process

	// price

	.price {
		padding: 0 0 70px 0;
	}

	.price__container {}
.container {}
.price__wrap {
	flex-direction: column;
}
.price__left {
	order: 2;
	margin-right: 0;
}
.price__img {}
.price__right {
	padding: 0 24px 31px 24px;
}
.price__title {
	padding-top: 41px;
}
.title {}
.price__description {
	margin-bottom: 35px;
}
.description {}
.price__form {}
.form {}
.price__input {}
.input {}
.price__btn {
	margin-top: 22px;
	padding: 13px 85px;
}
.btn {}
.price__social {
	margin-top: 26px;
}
.price__social-link {}
.price__social-img {
	width: 33px;
	height: 33px;
}
.price__social-text {}

	// price


	// faq

	.faq {}
.faq__container {}
.container {}
.faq__title {
	margin-bottom: 30px;
}
.title {}
.faq__row {}
.faq__col {}
.faq__item {
	padding-bottom: 40px;
	margin-bottom: 32px;
}
.faq__item-text {
	font-size: 12px;
	padding-right: 24px;
	&:after {
		width: 17px;
		height: 17px;
		background-size: contain;
		transform: translateY(8.5px);

	}
}

	// faq

	// company

	.company {
		padding-top: 70px;
	}
.company__wrap {
	    flex-direction: column;
}
.container {}
.company__left {
	order: 2;
	margin-right: 0;
}
.company__img {}
.company__right {
	display: contents;
}
.company__top {
	padding: 0 calc(24 / 480 * 100vw) calc(44 / 480 * 100vw) calc(24 / 480 * 100vw);
	margin-bottom: 7px;
	width: unset;
}
.company__title {
	padding-top: 36px;
}
.title {}
.company__block {
	margin-bottom: 13px;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}
.company__block-item {
	padding: calc(5 / 480 * 100vw) calc(13 / 480 * 100vw);
}
.company__description {
	max-width: unset;
}
.description {}
.company__bottom {
	order: 3;
	    display: grid
;
    grid-template-columns: repeat(2, 1fr);
}
.company__right .company__bottom {
		padding: calc(16 / 480 * 100vw) 0 calc(28 / 480 * 100vw) calc(44 / 480 * 100vw);
	}
.company__bottom-item {
	&:first-child {
		padding-left: 0;
	}
}
.company__bottom-number {
	font-size: calc(30 / 480 * 100vw);
}
.company__bottom-description {
	font-size: calc(12 / 480 * 100vw);
}

// company

// services

.services {}
.services__container {}
.container {}
.services__title {
	padding-top: 70px;
	margin-bottom: 20px;
}
.title {}
.services__top {
	grid-template-columns: repeat(1, 1fr);
}
.services__item {
	padding: 11px 36px 12px 87px;
}
.services__item-top {

}
.services__item-title {}
.item-title {}
.services__item-description {}
.item-description {}
.services__bottom {
	    grid-template-columns: repeat(1, 1fr);
	    gap: 13px;
}
.services__bottom-item {
	padding: 30px 30px 92px 23px;
}
.services__bottom-title {}
.services__bottom-block {}
.services__bottom-description {}
.services__bottom-image {}
.services__bottom-img {}
.services__bottom-description_blue {}

// services

// news

.news {}
.news__container {}
.container {}
.news__top {}
.news_title {}
.title {}
.news__zen {}
.news__description {
	margin-bottom: 67px;
	position: relative;
	&:after {
		content: "";
		background: url("../img/news/zen-logo.svg");
		width: 70px;
		height: 22px;
		position: absolute;
		display: inline-block;
		left: 0;
		top: 50px;
	}
}
.description {}
.news__bottom {
	gap: 13px;
	padding-bottom: 70px;
	grid-template-columns: repeat(2, 1fr);
}
.news__item {}

// news

// find

.find__wrap {
	flex-direction: column;
}

.find__map {
	padding-left: 24px;
	padding-right: 24px;
}

.find__address .find__address-description:nth-child(3) {
	margin-left: 60px;
}

// find

// footer

    .footer__right-up {
        right: -15px;
    }

// footer
}