* {
	padding: 0;
	margin: 0;
}

html {
	font-size: 16px;
}

html, body { 
    overflow-x: hidden;
}

a {
	text-decoration: none;
}

.container {
	max-width: 1080px;
	padding: 0 100px;
	margin-left: auto;
	margin-right: auto;
}

.title {
font-family: "Nunito Sans", serif;
font-style: normal;
font-weight: 500;
font-size: 35px;
text-transform: uppercase;
color: #000000;
margin-top: 40px;
margin-bottom: 6px;
padding-top: 60px;
}

.description {
	font-family: "Manrope", sans-serif;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 130%;
letter-spacing: -0.02em;
color: #000000;
    max-width: 340px;
    margin-bottom: 30px;
}

.btn {
	border: none;
	align-self: baseline;
	background: #FFE03C;
border-radius: 15px;
font-family: "Manrope", sans-serif;
font-style: normal;
font-weight: 700;
font-size: 16px;
text-align: center;
letter-spacing: -0.02em;
color: #3F3F3F;
padding: 13px 50px;
display: inline-block;
}

.item-title {
		font-family: "Manrope", sans-serif;
font-style: normal;
font-weight: 700;
font-size: 20px;
letter-spacing: -0.02em;
color: #000000;
    margin-bottom: 7px;
}

.item-description {
		font-family: "Manrope", sans-serif;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 130%;
letter-spacing: -0.02em;
color: #000000;
    max-width: 181px;
}

.bottom {
	// margin-bottom: 65px;
	padding-bottom: 128px;
}

.form {
	display: flex;
		flex-direction: column;
}

.input {
	border-bottom: 1px solid #E2E2E2;
		border-top: none;
		border-right: none;
		border-left: none;
		outline: 0;
		padding-bottom: 10px;
}

.price__input::-webkit-input-placeholder { /* WebKit browsers */
  font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
letter-spacing: -0.02em;
color: #7F7F7F;
}

.price__input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
letter-spacing: -0.02em;
color: #7F7F7F;
}

.price__input::-moz-placeholder { /* Mozilla Firefox 19+ */
  font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
letter-spacing: -0.02em;
color: #7F7F7F;
}

.price__input:-ms-input-placeholder { /* Internet Explorer 10+ */
  font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
letter-spacing: -0.02em;
color: #7F7F7F;
}

.wrap-top {
	background-color: #F3F3F3;
	background-size: cover;
}

// header

.header {

	&__container {}
	&__top {
		display: flex;
		align-items: center;
		border: 1px solid #d9d9d9;
border-radius: 28px;
padding: 14px 32px;
	}
	&__logo {
		width: 125px;
	}
	&__logo-img {}
	&__top-nav {
		margin-left: 20px;

	}
	&__top-list {
		list-style: none;
		display: flex;
		gap: 13px;
	}
	&__top-item {
	}
	&__top-link {
		font-family: "Manrope", sans-serif;
font-weight: 500;
font-size: 14px;
letter-spacing: -0.02em;
text-align: center;
color: #000;
	}
	&__contacts {
		display: flex;
		align-items: center;
		    margin-left: auto;
	}
	&__contacts-val {
		font-family: "Manrope", sans-serif;
font-weight: 500;
font-size: 13px;
letter-spacing: -0.02em;
color: #595959;
	}
	&__contacts-social {
		padding-left: 15px;
		padding-right: 11px;
	}
	&__social-link {
	&:first-child {
		    margin-right: 6px;
	}	
	}
	&__social-img {
		width: 33px;
height: 33px;
	}
	&__phone {
		font-family: "Manrope", sans-serif;
font-weight: 700;
font-size: 16px;
letter-spacing: -0.02em;
text-align: center;
color: #000;
}
	&__bottom {
border-radius: 100px;
display: flex;
align-items: center;
padding: 6px 32px;
justify-content: space-between;	
	}
	&__bottom-nav {}
	&__bottom-list {
		list-style: none;
		display: flex;
	}
	&__bottom-item {
		&:not(:last-child) {
  margin-right: 26px;
  }
	}
	&__bottom-link {
		font-family: "Manrope", sans-serif;
font-weight: 500;
font-size: 14px;
letter-spacing: -0.02em;
text-align: center;
color: #000;
	}
	&__right {
		display: flex;
	}
	&__right-btn {
		font-family: "Manrope", sans-serif;
font-weight: 700;
font-size: 15px;
letter-spacing: -0.02em;
text-align: center;
color: #3f3f3f;
background: #ffe03c;
border-radius: 20px;
padding: 4px 18px 6px;
margin-right: 8px;
display: flex;
align-items: center;
	}
	&__right-link {
		&:not(:last-child) {
  margin-right: 8px;
  }
  img {
  	width: 33px;
  }
	}
	&__right-img {}
}

.header-mob {
	display: none;
}

// header

// main

.main {
	position: relative;
	padding-bottom: 70px;

	&__container {
		display: flex;
	}

	&__left {
		position: relative;
		z-index: 2;
	}

	&__title {
		margin-top: 60px;
		max-width: 380px;
		color: #000;
		font-weight: 500;
		font-size: 43px;
		line-height: 97%;
		font-family: "Bitter", sans-serif;
		text-transform: uppercase;
	}

	&__description {
		margin-top: 8px;
		margin-bottom: 31px;
		max-width: 400px;
		color: #000;
		font-weight: 500;
		font-size: 14px;
		line-height: 130%;
		font-family: "Manrope", sans-serif;
		letter-spacing: -0.02em;
	}

	&__btn {
		display: inline-block;
		transition: background 0.2s ease, border-color 0.2s ease;
		margin-bottom: 31px;
		border: 1px solid #ffe03c;
		border-radius: 20px;
		background: #ffe03c;
		padding: 22px 53px 18px;
		color: #3f3f3f;
		font-weight: 700;
		font-size: 16px;
		font-family: "Manrope", sans-serif;
		letter-spacing: -0.02em;
		text-align: center;

		&:hover {
			border-color: #3f3f3f;
			background: transparent;
		}
	}

	&__info {
		display: flex;
	}

	&__info-item {
		display: flex;
		align-items: center;

		&:not(:last-child) {
			margin-right: 50px;
		}
	}

	&__info-img {
		margin-right: 17px;
	}

	&__info-text {
		color: #000;
		font-weight: 400;
		font-size: 16px;
		font-family: "Manrope", sans-serif;
		letter-spacing: -0.02em;

		&:nth-child(2) {
			font-weight: 500;
		}
	}

	&__right {
		position: relative;
		flex: auto;
	}

	&__right-img {
		position: absolute;
		top: -47%;
		left: -25%;
		width: clamp(37.5rem, -8.877rem + 72.46vw, 50rem);
		/* 700px 879px  */
		pointer-events: none;

		@media screen and (max-width: 1300px) {
			top: -40%;
		}

		@media screen and (max-width: 1200px) {
			top: -34%;
			left: -20%;
		}

		@media screen and (max-width: 1150px) {
			top: -30%;
		}

		@media screen and (max-width: 1100px) {
			top: -25%;
		}

		@media screen and (max-width: 1050px) {
			top: -20%;
		}

	}


}

// main

// grade

.grade {
	position: relative;

	&:after {
		display: inline-block;
		position: absolute;
		right: 294px;
		bottom: 322px;
		// background: url("../img/grade/arrow-right.svg");
		width: 31px;
		height: 31px;
		content: "";
	}

	&__container {}

	&__top {
		margin: 6rem auto 0;
		border-radius: 20px;
		background: #F7F7F7;
		max-width: 1080px;
	}

	&__sidebar {}

	&__bottom {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: calc(13 / 1280 * 100vw);
		margin: 0 auto 70px;
	}

	&__bottom-item {
		display: flex;
		position: relative;
		border-radius: 20px;
		background: #F7F7F7;
		padding-top: 30px;
		padding-left: calc(34 / 1280 * 100vw);

		&:after {
			display: inline-block;
			position: absolute;
			right: 0;
			bottom: 0;
			z-index: 0;
			border-bottom-right-radius: 20px;
			background: url("../img/grade/grade-bottom-1.svg");
			background-size: cover;
			background-repeat: no-repeat;
			width: 146px;
			height: 96px;
			overflow: hidden;
			content: "";
		}

		&:nth-child(2) {
			&:after {
				display: inline-block;
				position: absolute;
				right: 0;
				bottom: 0;
				z-index: 0;
				border-bottom-right-radius: 20px;
				background: url("../img/grade/grade-bottom-2.svg");
				width: 142px;
				height: 114px;
				overflow: hidden;
				content: "";
			}
		}

		&:nth-child(3) {
			&:after {
				display: inline-block;
				position: absolute;
				right: 0;
				bottom: 0;
				z-index: 0;
				border-bottom-right-radius: 20px;
				background: url("../img/grade/grade-bottom-3.svg");
				width: 158px;
				height: 94px;
				overflow: hidden;
				content: "";
			}
		}

		&:last-child {
			background-color: #FFE03C;
		}
	}

	&__item-text {
		position: relative;
		z-index: 1;
	}

	&__bottom-title {
		margin-bottom: 7px;
		color: #000000;
		font-style: normal;
		font-weight: 700;
		font-size: calc(20 / 1280 * 100vw);
		font-family: "Manrope", sans-serif;
		letter-spacing: -0.02em;
	}

	&__bottom-description {
		padding-bottom: 60px;
		max-width: 22ch;
		color: #000000;
		font-style: normal;
		font-weight: 500;
		font-size: calc(14 / 1280 * 100vw);
		line-height: 130%;
		font-family: "Manrope", sans-serif;
		letter-spacing: -0.02em;
	}

	&__bottom-img {
		display: flex;
		justify-content: flex-end;
		margin-top: -23px;
		// &:first-child {
		// 	    margin-top: -45px;
		// }
		//  &:nth-child(2) {
		// 	    margin-top: -24px;
		// }
		// &:last-child {
		// 	    margin-top: -40px;
		// }
	}

	&__bottom-image {}
}

.grade__bottom-img {
	display: flex;
	position: relative;
	margin-top: auto;

	img {
		max-width: 100%;
		height: 100%;
	}
}

// grade

.container {
	position: relative;
	
}
.sidebar {
	&__item {
		display: flex;
		padding: 2.5rem 5.5rem;
		margin-bottom: 20px;
		
	
	}
	&__left {
		position: relative;
		padding: 36px 72px;
		margin-right: 16px;
border-radius: 15px;
background-color: #fff;
    display: flex
;
    align-items: center;
    margin-right: 37px;
		&:before {
		content: "";
		// background: url("../img/grade/arrow-left.svg");
		width: 31px;
		height: 31px;
		position: absolute;
		display: inline-block;
		            left: -45px;
    bottom: 115px;
	}
	
	}
	&__left-top {
	}
	&__left-img {}
	&__left-bottom {
		    position: relative;
    left: -71px;
    top: 34px;
	}
	&__left-btn {
		border: 1px solid #000000;
border-radius: 20px;
background: transparent;
font-family: "Manrope", sans-serif;
font-style: normal;
font-weight: 500;
font-size: 14px;
text-align: center;
letter-spacing: -0.02em;
color: #3A3A3A;
text-decoration: none;
padding: 9px 70px 9px 64px;
	}
	&__right {
		
	}
	&__right-title {
		font-family: "Nunito Sans", serif;
font-style: normal;
font-weight: 500;
font-size: 35px;
text-transform: uppercase;
color: #000000;
margin-top: 0;
margin-bottom: 6px;
padding-top: 25px;
	}
	&__right-description {
		font-family: "Manrope", sans-serif;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 130%;
letter-spacing: -0.02em;
color: #000000;
    max-width: 300px;
    margin-bottom: 30px;
	}
	&__button {}
	&__button-btn {
		background: #FFE03C;
border-radius: 15px;
text-decoration: none;
font-family: "Manrope", sans-serif;
font-style: normal;
font-weight: 700;
font-size: 14px;
text-align: center;
letter-spacing: -0.02em;
color: #2D2D2D;
padding: 18px 86px;
display: inline-block;
	}
}
.bottom {
	padding-bottom: 0;
}



.choice {
	background: #F3F3F3;
	&__container {
		display: flex;
		justify-content: space-between;
	}
	&__block {}
	&__top {}
	&__title {
		padding-top: 60px;
		    margin-bottom: 5px;
		    margin-top: 0;
	}
	&__description {
		max-width: 335px;
		margin-bottom: -11px;
	}
	&__bottom {
		display: flex;
	}
	&__bottom-img {
		max-width: 100%;
		height: 100%;
	}
}




.choice {
	&__col {
		    display: flex
;
    margin-top: 154px;
    flex-direction: column;
    justify-content: flex-end;
    margin-right: 30px;
    &:last-child {
    	margin-right: 0;
    }
	}
	&__items {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 21px 30px;
		margin-top: 154px;
	}
	&__item {
		background: #FFFFFF;
border-radius: 20px;
padding: 7.0rem 3.4rem 2.6rem 30px;
position: relative;
	&:nth-child(3) {
		    border-radius: 20px 20px 0 0;
	}
	&:after {
		content: "";
		background: url("../img/choice/choice-icon-1.svg");
		width: 45px;
		height: 45px;
		position: absolute;
		display: inline-block;
           right: 20px;
    top: 20px;
	}
	&:first-child {
		
	}
	 &:nth-child(4) {
		    border-radius: 20px 20px 0 0;
	}
	}
	&__item-title {}
	&__item-description {}
}

.last-child {
	    border-radius: 20px 20px 0 0;
}

.second-child {
	    
	&:after {
		background: url("../img/choice/choice-icon-2.svg");
		width: 45px;
		height: 45px;
	}
}

.third-child {
	&:after {
		background: url("../img/choice/choice-icon-3.svg");
		width: 45px;
		height: 45px;
	}
}

.last-child {
	&:after {
		background: url("../img/choice/choice-icon-4.svg");
		width: 45px;
		height: 45px;
	}
}

.arrow {
	position: relative;

}

.talk {
	padding-bottom: 130px;
	&__container {}
	&__block {
		display: flex;
		justify-content: space-between;
	}
	&__top {}
	&__title {
		margin-top: 135px;
		padding-top: 0;
		position: relative;
		&:after {
		content: "";
		background: url("../img/talk/ava-group.svg");
		width: 128px;
		height: 46px;
		position: absolute;
		display: inline-block;
        right: -162px;
	}
	}
	&__description {
		max-width: 420px;
		margin-bottom: 37px;
	}
	&__right {
		    margin-top: 138px;
	}
	&__btn {
		border: 1px solid #000;
border-radius: 20px;
font-family: "Manrope", sans-serif;
font-weight: 500;
font-size: 14px;
letter-spacing: -0.02em;
text-align: center;
color: #3a3a3a;
padding: 9px 66px;
background: transparent;
	}
}




.talk {
	&__bottom {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 20px;

	}
	&__bottom-item {
		background: #F2F2F2;
border-radius: 20px;
padding-bottom: 25px;
padding-right: clamp(1.5rem, 0.979rem + 2.6vw, 3.063rem);
	}
	&__bottom-link a {
		font-family: "Manrope", sans-serif;
font-style: normal;
font-weight: 500;
font-size: 12px;
letter-spacing: -0.02em;
text-decoration-line: underline;
color: #000000;
margin-top: 17px;
opacity: 0.41;
	}
	.item__title {
		font-family: "Inter", sans-serif;
font-style: normal;
font-weight: 600;
font-size: clamp(1rem, 0.917rem + 0.42vw, 1.25rem);
letter-spacing: -0.02em;
color: #1E1E1E;
text-align: right;
padding-right: 0;
	}
	.item__description {
		font-family: "Manrope", sans-serif;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 130%;
letter-spacing: -0.02em;
color: #000000;
margin-bottom: 17px;
max-width: 330px;
	}
	.talk_rate {
		border: 1px solid #eaeaea;
		justify-self: baseline;
		border-radius: 22px;
		padding: 19px;
		box-shadow: 0 0 20px 0 rgba(156, 156, 156, 0.1);
	    margin-top: 20px;
	    margin-bottom: 20px;
	}
	.talk_rate, .rate__icon {
		display: flex;
		align-items: center;
		gap: 15px;
	}
	.rate__icon .item__raiting-img {
	    width: unset;
	    height: unset;
	}
	.rate__value {
		color: #444;
		font-family: "Unbounded", serif;
		font-size: 25px;
	}
	.item__raiting {
		display: flex;
		align-items: center;
		    margin-left: 67px;
    margin-top: -18px;
	}
	.item__raiting-img {
		margin-right: 8px;
		width: 110px;
		height: 18px;
		margin-left: 3px;
	}
	.item__raiting-text {
		font-family: "Manrope", sans-serif;
font-style: normal;
font-weight: 500;
font-size: 12px;
letter-spacing: -0.02em;
color: #000000;
opacity: 0.41;
	}
}
.talk__bottom-ava {
	img {
		width: 51px;
		height: 53px;
	}
}
.item {
	padding-left: clamp(1.5rem, 1.063rem + 2.19vw, 2.813rem);
	padding-top: 32px;
	&__title {
		padding-left: 18px;
		padding-top: 8px;
		padding-right: 25px;
	}
	&__description {
		margin-top: 20px;
		padding-right: 25px;
	}
}

.talk__bottom-block {
	display: flex;
	flex-wrap: wrap;
}

.choice__left {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

@media screen and (max-width: 1225px) {
	.talk .item__title p:before {
		left: -50px;
	}
}


.container {
}
.title {
}
.description {
}


// sale

.sale {
	padding-bottom: 70px;
	&__wrap {
		display: flex;
        gap: 20px;
		max-width: 1080px;
		margin: 0 auto;
	}
	&__left {
		background: #F7F7F7;
border-radius: 30px;
padding-left: clamp(1.5rem, 1.063rem + 2.19vw, 2.813rem);
padding-right: clamp(1.5rem, 0.938rem + 2.81vw, 3.188rem);
	}
	&__bottom {
		    display: flex
;
    flex-wrap: wrap;
    gap: 17px 10px;
    max-width: clamp(20rem, 15.479rem + 22.6vw, 33.563rem);
	}
	&__title {
		margin-top: 0;
		padding-top: 60px;
		max-width: clamp(17.438rem, 13.063rem + 21.88vw, 30.563rem);
	}
	&__description {}
	&__row {
		display: flex;
		margin-bottom: 17px;
		&:last-child {
			margin-bottom: 55px;
		}
	}
	&__item {
		border: 1px solid #000000;
border-radius: 33px;
padding: 9px 30px;
font-family: "Manrope", sans-serif;
font-style: normal;
font-weight: 500;
font-size: 14px;
letter-spacing: -0.02em;
color: #000000;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
    align-self: end;
		&:last-child {
			margin-right: 0;
		}
	}
	&__btn {
		background: #FFE03C;
border-radius: 15px;
display: inline-block;
font-family: "Manrope", sans-serif;
font-style: normal;
font-weight: 700;
font-size: 16px;
text-align: center;
letter-spacing: -0.02em;
color: #3F3F3F;
text-decoration: none;
padding: 13px 54px;
margin-bottom: 42px;
margin-top: 55px;
	}
	&__right {	}
	&__img {
		height: 100%;
		max-width: 100%;
	    object-fit: cover;
	    border-radius: 30px;
	}
}

// sale


// process

.process {
	--size-number: 40px;
	--gap-item: clamp(2.375rem, -3.958rem + 13.19vw, 5.938rem);
	/* 38px 95px */
	--pad-top: clamp(0rem, -1.667rem + 3.47vw, 0.938rem);
	/* 0px 15px */

	background: #F3F3F3;
	padding-bottom: 130px;

	&__container {}

	&__title {
		margin-top: 65px;
		margin-bottom: clamp(1.563rem, -2.104rem + 7.64vw, 3.625rem);
	}

	&__content {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: var(--gap-item);
		counter-reset: count 0;
	}

	&__item {
		display: flex;
		position: relative;
		position: relative;
		flex-direction: column;
		counter-increment: count 1;
		padding-top: var(--pad-top);

		&::before {
			margin-bottom: clamp(1.063rem, -0.382rem + 3.01vw, 1.875rem);
			border-radius: 60px;
			background: #FFE03C;
			width: var(--size-number);
			height: var(--size-number);
			content: counter(count);
			color: #000000;
			font-style: normal;
			font-weight: 500;
			font-size: 14px;
			line-height: var(--size-number);
			font-family: "Montserrat", sans-serif;
			letter-spacing: -0.02em;
			text-align: center;
		}

		&:not(:last-child)::after {
			display: inline-block;
			position: absolute;
			top: calc(var(--pad-top) + (var(--size-number) / 2));
			left: var(--size-number);
			z-index: 1;
			background: url("../img/process/border-dashed.svg");
			width: calc(100% + var(--gap-item) - var(--size-number));
			height: 1px;
			content: "";
		}
	}

	&__item-title {
		margin-bottom: 10px;
		max-width: 320px;
	}

	&__item-description {
		margin-bottom: 7px;
	}

	&__item-btn {
		display: flex;
		justify-content: center;
		transition: background 0.2s ease, border-color 0.2s ease;
		margin-top: auto;
		border: 1px solid #ffe03c;
		border-radius: 15px;
		background: #FFE03C;
		padding: 13px 49px;
		color: #3F3F3F;
		font-style: normal;
		font-weight: 700;
		font-size: 16px;
		font-family: "Manrope", sans-serif;
		letter-spacing: -0.02em;
		text-align: center;

		&:hover {
			border-color: #3f3f3f;
			background: transparent;
		}
	}

	&__item-social {}


	.item {
		&__social {
			display: flex;
			align-items: center;
		}

		&__social-link {
			display: inline-block;
			margin-top: 22px;

			&:first-child {
				margin-right: 7px;
			}
		}

		&__social-img {
			width: 38px;
			height: 38px;
		}

		&__social-text {
			display: inline-block;
			opacity: 0.58;
			margin-top: 22px;
			margin-left: 20px;
			max-width: 120px;
			color: #877E7E;
			font-style: normal;
			font-weight: 500;
			font-size: 14px;
			line-height: 109%;
			font-family: "Manrope", sans-serif;
			letter-spacing: -0.03em;
		}
	}
}

// process



// price


.price {
	    padding-bottom: 130px;
    background: #F3F3F3;
	&__wrap{
		display: flex;
		    background: #fff;
    border-radius: 20px;
    padding: 0;
	}
	&__left {
		margin-right: 55px;
	}
	&__img {
		    height: 100%;
    max-width: 100%;
    object-fit: cover;
    border-radius: 20px;

	}
	&__right {
		padding-bottom: 28px;
	}
	&__title {
		padding-top: 42px;
		margin-top: 0;
		margin-bottom: 15px;
		font-size: 35px;
	}
	&__description {
		margin-bottom: 50px;
		font-size: 14px;
	}
	&__form {
		display: flex;
		flex-direction: column;
	}
	&__input {
		border-bottom: 1px solid #E2E2E2;
		border-top: none;
		border-right: none;
		border-left: none;
		outline: 0;
		padding-bottom: 10px;
		    align-self: flex-start;
    padding-right: 210px;
        // padding-left: 98px;
	}
	&__btn {
		align-self: self-start;
    display: flex;
    outline: none;
    border: none;
        padding: 13px 82px;
font-size: 14px;
        font-family: "Manrope", sans-serif;
font-style: normal;
font-weight: 700;
letter-spacing: -0.02em;
color: #2D2D2D;
margin-top: 28px;
	}
	&__social {
		display: flex;
		flex-wrap: wrap;
		margin-top: 20px;
	}
	&__social-link {}
	&__social-img {
		width: 38px;
		height: 38px;
		&:first-child {
			margin-right: 17px;
		}
	}
	&__social-text {
		    flex-basis: 100%;
		    font-family: "Manrope", sans-serif;
font-style: normal;
font-weight: 500;
font-size: 14px;
letter-spacing: -0.03em;
color: #877E7E;
opacity: 0.58;
margin-top: 7px;
	}
}

// price


// company

.company {
	background: #F3F3F3;
	padding-top: 128px;
	&__wrap {
		display: grid;
	    grid-template-columns: repeat(2, 1fr);
	    gap: 11px 20px; 
	}
	&__container {
	}
	&__left {
		grid-row: 1 / 3;
	}
	&__right {
		       display: flex
;
    flex-direction: column;
    justify-content: space-between; 
	}
	&__img {
	    height: 100%;
    max-width: 100%;
    object-fit: cover;
    border-radius: 30px;
	}
	&__top {
		background: #FFFFFF;
border-radius: 30px;
padding: 0 48px;
padding-bottom: 48px;
	}
	&__title {
		padding-top: 40px;
		margin-top: 0;
		margin-bottom: 10px;
		font-size: 35px;
	}
	&__block {
		display: flex;
		margin-bottom: 15px;
		gap: 10px;
	}
	&__block-item {
		display: inline-block;
		border: 1px solid #000000;
border-radius: 33px;
font-family: "Manrope", sans-serif;
font-style: normal;
font-weight: 500;
font-size: 14px;
letter-spacing: -0.02em;
color: #000000;
padding: 5px 30px;
	}
	&__description {
		margin-bottom: 16px;
		max-width: 496px;
		font-size: 14px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__bottom {
		background: #FFE03C;
border-radius: 30px;
    display: grid
;
    grid-template-columns: repeat(4, 1fr);
    gap: 55px;
    grid-columns: 1 / 3;
    padding: 19px 56px 27px 30px;
	}
	&__bottom-number {
		font-family: "Manrope", sans-serif;
font-style: normal;
font-weight: 600;
font-size: 33px;
letter-spacing: -0.02em;
color: #1D1D1D;
opacity: 0.85;
	}
	&__bottom-description {
		font-family: "Manrope", sans-serif;
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 133%;
letter-spacing: -0.02em;
color: #272727;
opacity: 0.85;
max-width: 81px;
	}
}
.container {
}
.title {
}
.description {
}




.services {
	background-color: #F3F3F3;
	&__container {}
	&__title {
		padding-top: 126px;
		margin-top: 0;
		margin-bottom: 40px;
	}
	&__top {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 20px;
	}
	&__item {
		background: #FFFFFF;
border-radius: 20px;
padding: 20px 25px;
position: relative;
	&:before {
		content: "";
		background: url("../img/services/services-icon-1.svg");
		width: 40px;
		height: 40px;
		position: absolute;
		display: inline-block;
        left: 26px;
	    top: 19px;
	}
	&:nth-child(2) {
		&:before {
			background: url("../img/services/services-icon-2.svg");		
		}
	}
	&:nth-child(3) {
			&:before {
		background: url("../img/services/services-icon-3.svg");
	}
	}
	&:nth-child(4) {
			&:before {
		background: url("../img/services/services-icon-4.svg");
	}
	}
	&:nth-child(2) {
		background-color: #FFE03C;
		.services__item-top {
			&:before {
	}
		}
	}
	
	}
	&__item-top {
		font-family: "Manrope", sans-serif;
font-style: normal;
font-weight: 500;
font-size: 14px;
letter-spacing: -0.02em;
color: #000000;
text-align: right;
margin-top: 15px;
	position: relative;
	
}
	&__item-title {
		margin-top: 34px;
		margin-bottom: 15px;
		max-width: 300px;
	}
	&__item-description {}
	&__bottom {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 23px;
		margin-top: 20px;
		.services__item:before {
			top: 12px;
		}
		.services__item:nth-child(2) {
			&:before {
				background: url("../img/services/services-icon-1.svg");
			}
		}
		.services__item .services__item-title {
			margin-top: 47px;
		}
		.services__item .services__item-description {
			    max-width: 281px;
		}
		.services__item:nth-child(2) {
			background: #fff;
		}
	}
	&__bottom-item {
		background: #FFFFFF;
border-radius: 20px;
padding: 30px 25px 22px 25px;
    position: relative;
    &:first-child {
    	.services__bottom-description {
    		opacity: 1;
    		    max-width: 250px;

    	}
    	&:before {
				content: "";
				background: url("../img/services/heart.svg");
				width: 36px;
				height: 36px;
				position: absolute;
				display: inline-block;
				left: 28px;
				bottom: 19px;

			}
    	&:after {
				content: "";
				background: url("../img/services/services-img-1.svg");
				width: 251px;
				height: 166px;
				position: absolute;
				display: inline-block;
				right: -24px;
				bottom: 0;

			}
    }
    &:nth-child(2) {
    	.services__bottom-block .services__bottom-description {
    		max-width: 300px;
    		&:first-child {
	    		margin-bottom: 51px;
    		}
    	}
    	&:before {
		content: "";
		background: url("../img/services/services-img-2.svg");
		width: 219px;
		height: 129px;
		position: absolute;
		display: inline-block;
		right: 0;
		bottom: 0;

	}
    }
    // &:first-child .services__bottom-block .services__bottom-img {
			
	// 			right: 50px;
			
	// 	}
	}
	&__bottom-title {
		margin-top: 0;
		padding-top: 0;
		margin-bottom: 10px;
		font-family: "Noto Sans Syriac", sans-serif;
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 100%;
text-transform: uppercase;
color: #000000;
min-width: 417px;
	}
	&__bottom-block {
		    display: flex
;
    flex-direction: column;
	}
	&__bottom-description {
		max-width: 226px;
		position: relative;
		&:not(:last-child) {
			&:before {
				content: "";
				background: url("../img/services/heart.svg");
				width: 36px;
				height: 36px;
				position: absolute;
				display: inline-block;
				left: 0;
				top: 50px;

			}
		}
			font-family: "Manrope", sans-serif;
font-style: normal;
font-weight: 500;
font-size: 14px;
letter-spacing: -0.02em;
color: #000000;
opacity: 0.4;
	&:nth-child(2) {
		opacity: 1;
	}
	}
	&__bottom-img {
		    position: absolute;
    right: 0;
    bottom: 0;
	}
}
.container {
}
.title {
}
.item-title {
}
.item-description {
}

.services__bottom-block .services__bottom-description .services__bottom-description_blue {
	color: #01426D;
	font-weight: bold;
	opacity: 1;
	display: inline-block;
}

.services__bottom-item:nth-child(2) .services__bottom-block .services__bottom-description {
	&:before {
		background: unset;
	}
}

.services__bottom-item:nth-child(2) .services__bottom-title {
	margin-bottom: 10px;
}



.faq {
	&__container {}
	&__title {
		margin-top: 0;
		padding-top: 54px;
		margin-bottom: 45px;
	}
	&__row {
		display: flex;
		padding-bottom: 86px;
	}
	&__col {
		width: 100%;
		&:not(:last-child) {
	margin-right: 20px;
	}
	}
	&__item {
		&:first-child {
			    padding-bottom: 34px;
			    margin-bottom: 26px;
		}
		&:nth-child(2) {
			    padding-bottom: 34px;
			    margin-bottom: 30px;
		}	
		
		position: relative;
		&:not(:last-child) {
	
	border-bottom: 1px solid #DFDFDF;
	}
	&:first-child {

	}
}
	&__item-text {
		font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 130%;
letter-spacing: -0.02em;
color: #1E1E1E;
position: relative;
padding-right: 185px;
&:after {
		content: "";
		background: url("../img/faq/check.svg");
		width: 31px;
		height: 29px;
		position: absolute;
		display: inline-block;
	    right: 40px;
        bottom: 50%;
    	transform: translateY(14.5px);
	}
	}
}
.container {
}
.title {
}



.news {
	background-color: #F3F3F3;
	&_title {
		padding-top: 64px;
		margin-top: 0;
		margin-right: 56px;
		position: relative;
		&:after {
		content: "";
		background: url("../img/news/zen-logo.svg");
		width: 70px;
		height: 22px;
		position: absolute;
		display: inline-block;
		right: -99px;
		top: 76px;
	}
	}
	&__container {}
	&__top {
		display: flex;
		align-items: flex-end;
	}
	&__description {}
	&__bottom {
		display: grid;
	    grid-template-columns: repeat(4, 1fr);
	    gap: 20px;
		padding-bottom: 128px;
	}
	&__item {
  img {
  	width: 100%;
  }
	}
}
.container {
}
.title {
}
.description {
}


// find

.find {

	background-color: #F3F3F3;
	padding-bottom: 80px;

	&__wrap {
		display: flex;
		justify-content: space-between;
		border-radius: 20px;
		background: #fff;
		padding: 0;
		padding-top: 55px;
	}

	&__left {
		flex: 1;
		padding-right: 38px;
		padding-bottom: 64px;
		padding-left: 52px;
	}

	&__right {
		flex: 1.3;
	}

	&__title {
		margin-top: 0;
		margin-bottom: 18px;
		padding-top: 0;
	}

	&__address {
		display: flex;
		flex-direction: column;
	}

	&__address-title {
		opacity: 0.33;
		margin-bottom: 11px;
		color: #000;
		font-weight: 500;
		font-size: 14px;
		line-height: 130%;
		font-family: "Manrope", sans-serif;
		letter-spacing: -0.02em;
	}

	&__address-description {
		position: relative;
		align-self: flex-start;
		margin-bottom: 15px;
		color: #000;
		font-weight: 500;
		font-size: 14px;
		line-height: 130%;
		font-family: "Manrope", sans-serif;
		letter-spacing: -0.02em;

		&:nth-child(3) {
			margin-bottom: 29px;
		}
	}

	&__address-phone {
		display: inline-block;
		position: relative;
		margin-bottom: 25px;
		margin-left: 31px;
		max-width: 160px;
		color: #181818;
		font-weight: 500;
		font-size: 14px;
		line-height: 110%;
		font-family: "Manrope", sans-serif;
		letter-spacing: -0.05em;

		&:before {
			display: inline-block;
			position: absolute;
			top: -3px;
			left: -31px;
			background: url("../img/find/find-phone.svg");
			width: 22px;
			height: 22px;
			content: "";
		}
	}

	&__work {
		display: flex;
	}

	&__work-block {
		margin-right: clamp(1.875rem, -4.982rem + 14.29vw, 3.875rem);
		/* 30px - 62px */
	}

	&__work-title {
		opacity: 0.33;
		margin-bottom: 10px;
		color: #000;
		font-weight: 500;
		font-size: 14px;
		line-height: 130%;
		font-family: "Manrope", sans-serif;
		letter-spacing: -0.02em;
	}

	&__work-time {
		margin-bottom: 14px;
		max-width: 166px;
		color: #000;
		font-weight: 500;
		font-size: 14px;
		line-height: 130%;
		font-family: "Manrope", sans-serif;
		letter-spacing: -0.02em;
	}

	&__work-text {
		color: #000;
		font-weight: 500;
		font-size: 14px;
		line-height: 130%;
		font-family: "Manrope", sans-serif;
		letter-spacing: -0.02em;
	}

	&__work-pass {
		display: flex;
		position: relative;
		top: 48px;
		gap: 8px;
		justify-content: center;
		align-items: flex-start;
		padding-bottom: 10px;
		width: 135px;
		color: #000;
		font-weight: 500;
		font-size: 16px;
		line-height: 155%;
		font-family: "Inter", sans-serif;
		letter-spacing: -0.02em;
		text-decoration: underline;
	}

	&__form {
		margin-top: 62px;
	}

	&__btn {
		transition: background 0.2s ease, border-color 0.2s ease;
		border: 1px solid #ffe03c;
		padding: 18px 106px;
		color: #2d2d2d;
		font-weight: 700;
		font-size: 14px;
		line-height: 130%;
		font-family: "Manrope", sans-serif;
		letter-spacing: -0.02em;
		text-align: center;

		&:hover {
			border-color: #3f3f3f;
			background: transparent;
		}
	}

	&__map {
		padding-right: 38px;
		height: 87.9%;

		&-wrap {
			position: relative;
			border-radius: 20px;
			height: 100%;
			overflow: hidden;
		}
	}
}


.find {
	&__input {
		align-self: baseline;
		margin-bottom: 28px;
		padding-right: 161px;
	}
}


.find__address .find__address-description:nth-child(2) {
	display: inline-block;
	position: relative;

	&:after {
		display: inline-block;
		position: absolute;
		right: -44px;
		bottom: 0;
		background: url("../img/find/copy.svg");
		width: 16px;
		height: 17px;
		content: "";
	}
}

.find__address .find__address-description:nth-child(3) {
	display: inline-block;
	position: relative;
	margin-left: 31px;

	&:before {
		display: inline-block;
		position: absolute;
		    left: -61px;
    bottom: -4px;
		background: url("../img/find/metro.svg");
		width: 52px;
		height: 28px;
		content: "";
	}
}

.find__iframe {
	position: relative;
	border: none;
	height: 100%;
}

// find

// footer

.footer {
	padding-top: 45px;

	&__top {
		display: grid;
		position: relative;
		grid-template-columns: 1fr 1fr;
		column-gap: clamp(1.563rem, 0.117rem + 3.01vw, 2.188rem);
		row-gap: 35px;
	}

	&__left {
		grid-row: 1;
		grid-column: 1/3;
	}

	&__logo {
		display: block;
		margin-bottom: 13px;
	}

	&__phone {
		display: inline-block;
		position: relative;
		transition: 0.2s;
		margin-bottom: 15px;
		margin-left: 43px;
		color: #181818;
		font-weight: 500;
		font-size: 14px;
		line-height: 110%;
		font-family: "Manrope", sans-serif;
		letter-spacing: -0.05em;

		&:hover {
			color: #999;
		}

		&:before {
			display: inline-block;
			position: absolute;
			top: -3px;
			left: -43px;
			background: url("../img/footer/footer-phone.svg");
			width: 22px;
			height: 22px;
			content: "";
		}
	}

	&__mail {
		display: inline-block;
		position: relative;
		transition: 0.2s;
		margin-bottom: 13px;
		margin-left: 40px;
		color: #181818;
		font-weight: 500;
		font-size: 14px;
		line-height: 110%;
		font-family: "Manrope", sans-serif;
		letter-spacing: -0.05em;

		&:hover {
			color: #999;
		}

		&:before {
			display: inline-block;
			position: absolute;
			top: -3px;
			left: -40px;
			background: url("../img/footer/footer-mail.svg");
			width: 22px;
			height: 22px;
			content: "";
		}
	}

	&__block {
		display: flex;
		align-items: center;
		gap: 14px;
	}

	&__btn {
		display: inline-block;
		position: relative;
		transition: background 0.2s ease, border-color 0.2s ease;
		border: 1px solid #ffe03c;
		border-radius: 20px;
		background: #ffe03c;
		padding: 12.5px 47px;
		padding-right: 28px;
		color: #3f3f3f;
		font-weight: 700;
		font-size: 12px;
		font-family: "Manrope", sans-serif;
		letter-spacing: -0.02em;
		text-align: center;

		&:hover {
			border-color: #3f3f3f;
			background: transparent;
		}

		&:before {
			display: inline-block;
			position: absolute;
			top: 15px;
			left: 27px;
			background: url("../img/footer/footer-btn-icon.svg");
			width: 15px;
			height: 12px;
			content: "";
		}
	}

	&__social {
		display: flex;
		gap: 4px;
		border-radius: 43px;
		background: #f4f9ff;
		padding: 7px;
	}

	&__social-link {
		display: flex;
		flex-shrink: 0;
		justify-content: center;
		align-items: center;
		width: 29px;
		height: 29px;

		& img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	&__address {}

	&__address-title {
		opacity: 0.33;
		margin-top: 17px;
		margin-bottom: 17px;
		color: #000;
		font-weight: 500;
		font-size: 14px;
		line-height: 130%;
		font-family: "Manrope", sans-serif;
		letter-spacing: -0.02em;
	}

	&__address-description {
		margin-bottom: 15px;
		color: #000;
		font-weight: 500;
		font-size: 14px;
		line-height: 130%;
		font-family: "Manrope", sans-serif;
		letter-spacing: -0.02em;
	}

	&__work {}

	&__work-title {
		opacity: 0.33;
		margin-bottom: 15px;
		color: #000;
		font-weight: 500;
		font-size: 14px;
		line-height: 130%;
		font-family: "Manrope", sans-serif;
		letter-spacing: -0.02em;
	}

	&__work-description {
		margin-bottom: 15px;
		max-width: 150px;
		color: #000;
		font-weight: 500;
		font-size: 14px;
		line-height: 130%;
		font-family: "Manrope", sans-serif;
		letter-spacing: -0.02em;
	}

	&__work-text {
		opacity: 0.34;
		color: #000;
		font-weight: 500;
		font-size: 14px;
		line-height: 130%;
		font-family: "Manrope", sans-serif;
		letter-spacing: -0.02em;
	}

	&__col {
		display: flex;
		flex-direction: column;
		padding-top: 13px;

		&:nth-of-type(3) {
			display: grid;
			grid-template-columns: subgrid;
			grid-column: 1/3;
			margin-top: -45px;
			padding-top: 0;

			& .footer__col-item {
				grid-column: 1;
			}
		}
	}

	&__col-bottom {
		display: flex;
		grid-row: 5/7;
		grid-column: 2;
		flex-direction: column;
		gap: 12px;
		margin-top: auto;
		margin-bottom: 10px;
	}

	&__col-title {
		margin-bottom: 22px;
		color: #979797;
		font-weight: 500;
		font-size: 14px;
		font-family: "Manrope", sans-serif;
		letter-spacing: -0.05em;
		list-style: none;
	}

	&__col-item {
		list-style: none;

		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}

	&__col-link {
		transition: 0.2s;
		color: #181818;
		font-weight: 500;
		font-size: 14px;
		font-family: "Manrope", sans-serif;
		letter-spacing: -0.05em;

		&:hover {
			color: #999;
		}
	}

	&__col-details {
		opacity: 0.34;
		color: #000;
		font-weight: 500;
		font-size: 14px;
		line-height: 130%;
		font-family: "Manrope", sans-serif;
		letter-spacing: -0.02em;
		list-style: none;
	}

	&__right {}

	&__right-up {
		display: inline-block;
		position: absolute;
		right: 0;
		bottom: 315px;
		border-radius: 11px;
		background: #ffe03c;
		padding: 19px 28px 7px;
		color: #181818;
		font-weight: 500;
		font-size: 14px;
		font-family: "Manrope", sans-serif;
		letter-spacing: -0.05em;

		&:before {
			display: inline-block;
			position: absolute;
			top: 8px;
			left: 50%;
			transform: translateX(-50%);
			background: url("../img/footer/footer-arrow-up.svg");
			width: 15px;
			height: 8px;
			content: "";
		}
	}

	&__bottom {
		margin-top: 64px;
		background: #ffe03c;

		&--wrapper {
			display: flex;
			justify-content: space-between;
			gap: 10px;
			padding: 27px 0;
		}

		&>* {
			color: #000;
			font-weight: 500;
			font-size: 14px;
			line-height: 110%;
			font-family: "Manrope", sans-serif;
			letter-spacing: -0.05em;
		}
	}

	&__year {}

	&__privacy {}

	&__developer {

		&_bold {
			font-weight: 700;
		}
	}
}

.footer__contacts {
	display: flex;
	flex-direction: column;
}

@media screen and (min-width: 768px) {
	.footer__top {
		grid-template-columns: auto 1fr 1fr 1fr;
	}

	.footer__left {
		grid-row: 1;
		grid-column: 1;
	}

	.footer__col:nth-of-type(3) {
		display: flex;
		grid-column: 4;
		margin-top: 0;
		padding-top: 10px;
	}

	.footer__col-bottom {
		grid-row: auto;
		grid-column: 1;
	}

}

// footer